@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,700;0,800;1,400&display=swap");
* {
  font-family: "Open Sans", sans-serif;
  margin: 0%;
  padding: 0%; }

@media screen and (min-width: 768px) {
  .card-index {
    max-width: 80%; } }

@media (min-width: 280px) and (max-width: 500px) {
  .imgNavLogo {
    width: 70px; } }

article nav li a {
  color: dimgray; }
  article nav li a:hover {
    color: black; }

p {
  font-size: 1rem;
  line-height: 1.5rem;
  color: black; }

footer {
  background-color: black; }

header {
  position: sticky;
  top: 0;
  z-index: 1; }

.bg-clara {
  background-color: white; }

.background-black {
  background-color: black;
  color: white;
  font-size: 1rem; }

.fontBig {
  font-size: 4rem;
  font-weight: 200;
  text-decoration: none; }
  .fontBig:hover {
    text-decoration: underline; }

h2 {
  font-size: 2em; }

.fontSmall {
  font-size: 0.5rem; }

.migasPan {
  display: flex;
  justify-content: center; }

.textItalic {
  font-style: italic; }

.card-index {
  max-width: 90%;
  border: none; }

.btn-1 {
  color: white;
  background-color: black;
  padding: 5px;
  border: none;
  border-radius: 10px; }

.transition {
  border: none;
  border-radius: 10px;
  width: 30%;
  height: 30px;
  cursor: pointer;
  background-color: violet; }
  .transition:hover {
    width: 100%;
    background-color: orange;
    color: white;
    transition: all 2s; }

.img-footer {
  width: 20px; }

.logo-footer, .imgNavLogo, .icon {
  width: 100px; }

.img-fotografia {
  width: auto;
  height: 250px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%); }

.img-fotografia:hover {
  width: auto;
  height: 250px;
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%); }

.icon {
  margin: 2rem; }
