@import "_mixing" ;

article nav li a{
    color: $disableColor;
    &:hover {
        color:$mainColor;  
    }
}

p{
  @include textoParrafos(1rem,1.5rem,color);
}

//footer
footer {
    background-color: map-get($map: $paleta, $key:'mainColor');
}

  //header
header{
    position:sticky;
    top:0;
    z-index: 1;
}

.bg-clara{
  background-color: $secondColor;
}

.background-black {
    background-color: $mainColor;
    color: $secondColor;
    font-size: 1rem;
  }

//texto

.font404 {
  font-size: $textXl;
  font-weight: 600;
  text-decoration: none;
}


.text-decoration-underline {
text-decoration: underline;
}

h2 {
    font-size: $textMd;
}

.fontSmall {
    font-size: $textSm;

}

.migasPan {
    display: flex;
    justify-content: center;
}
.textItalic {
  font-style: italic;
}

.font-index{
  color: $secondColor;
}
//card index
.card-index {
    max-width: 90%;
    border:none;
  }
  .card-grey {
    background-color: rgb(238, 239, 239);
  }
  
//botones
.btn-1 {
    color:$secondColor;
    background-color:$mainColor;
    padding: 5px;
    border: none;
    border-radius: 10px;
  }
  .btn-2 {
    color:$mainColor;
    background-color:$secondColor;
    padding: 5px;
    border: none;
    border-radius: 10px;
  }


  //efectos
.transition {
    border: none;

    cursor: pointer;
    background-color: violet;
    
  &:hover {
    background-color: orange;
    color: white;
    transition: all 2s;
  }
}