@media screen and (min-width: 768px) {
    .card-index {
      max-width: 80%;
    }
  }
  
  @media (min-width: 280px) and (max-width: 500px) {
    .imgNavLogo {
      width: 70px;
    }
  }

  @media (min-width: 280px) and (max-width: 911px) {
    .fontBigFotografia {
      font-weight: 100;
      text-decoration: none;
          &:hover {
        text-decoration: underline;
    }
  }
  }
  
  @media (min-width: 912px) {
    .fontBigFotografia {
      font-size: $textXl;
      font-weight: 200;
      text-decoration: none;
          &:hover {
        text-decoration: underline;
    }
  }
  }

  
  @media (min-width: 280px) and (max-width: 350px) {
    .fontBig {
      font-weight: 100;
      text-decoration: none;
          &:hover {
        text-decoration: underline;
    }
  }
  }
  
  @media (min-width: 351px) {
    .fontBig {
      font-size: $textXl;
      font-weight: 200;
      text-decoration: none;
          &:hover {
        text-decoration: underline;
    }
  }
  }
